body {
    background-color: #F0F0F0;
    font-family: 'Quicksand', 'Manrope', 'sans-serif';
}

.profile {
    height: auto;
    width: 50%;
    margin: 50px auto;
    border-radius: 60px;
    background-color: #888888;
    box-shadow: 0px 0px 25px #888888;
}

.pfp {
    width: 160px;
    border: 5px solid #F0F0F0;
    padding: 3px;
    border-radius: 100%;
}

h1 {
    color: #F0F0F0;
    letter-spacing: 2px;
    padding-bottom: 5px;
    margin: 0px;
}

h3 {
    color: #F0F0F0;
    letter-spacing: 4px;
    text-align: center;
}

h4 {
    color: #F0F0F0;
    letter-spacing: 2px;
    margin-top: 0px;
}

.marks-heading {
    text-align: center;
}

p {
    color: #F0F0F0;
    letter-spacing: 1px;
}

.pfp-table table {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
}

.pfp-table td {
}

.pfp-table-col1 {
    padding-left: 20px;
}
.pfp-table-col2 {
    padding-left: 50px;
}

.pfp-table-col2 p {
    margin: 0px;
    padding-bottom: 10px;
}

.icons-table table {
    margin: 10px 0px;
}

.icons-table td {
    vertical-align: top;
}

.icons-table img{
    width: 20px;
    vertical-align: bottom;
    filter: invert(99%) sepia(6%) saturate(380%) hue-rotate(210deg) brightness(115%) contrast(88%);
    transition: transform 0.3s ease;
}

.icons-table img:hover {
    filter: invert(85%) sepia(20%) saturate(269%) hue-rotate(323deg) brightness(105%) contrast(104%);
    transform: translateY(-4px);
}
.first-container {
    padding: 20px;
}

.second-container {
    padding: 20px;
}

.third-container {
    padding: 20px;
}

.fourth-container {
    padding: 20px;
}

.fifth-container {
    padding: 20px;
}

.bio {
    margin-left: 20px;
}

.project-outer-level {
    line-height: 20px;
}

.projects {
    color: #F0F0F0;
    font-weight: bold;
}

.project-1 {
    line-height: 40px;
}

.project-2 {
    line-height: 40px;
}

.project-3 {
    line-height: 40px;
}

.project-1-list {
    font-weight: normal;
}

.project-2-list {
    font-weight: normal;
}

.project-3-list {
    font-weight: normal;
}

.edu-outer-level {
    line-height: 20px;
    padding-top: 20px;
}

.educations {
    color: #F0F0F0;
    font-weight: bold;
}

.edu-1-list {
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edu-1-list li {
    line-height: 20px;
}

.edu-2-list {
    font-weight: normal;
    margin-top: 10px;
}

.marks {
    padding-bottom: 20px;
    margin: 0 auto;
}
.marks-table table{
    table-layout: fixed;
    width: 60%;
    border: 2px solid #F0F0F0;
    border-collapse: collapse;
    margin: 0 auto;
}

.marks-table td {
    border: 2px solid #F0F0F0;
    text-align: center;
    padding: 10px;
}

.lang-table {
    padding: 20px;
}
.lang-table table {
    table-layout: fixed;
    width: 60%;
    border: 2px solid #F0F0F0;
    border-collapse: collapse;
    margin: 0 auto;
}

.lang-table td {
    font-weight: bold;
    border: 2px solid #F0F0F0;
    text-align: center;
    padding: 10px;
    filter: invert(85%) sepia(20%) saturate(269%) hue-rotate(323deg) brightness(105%) contrast(104%);
}

.skill-table table{
    padding: 20px;
    padding-top: none;
    width: 80%;
    margin: 0 auto;
}

.skill-table td {
    padding: 12px;
    color: #F0F0F0;
}

hr {
    border-style: none;
    border-top-style: inset;
    border-width: 2px;
    border-color: #F0F0F0;
}

a {
    text-decoration: none;
    color: #F0F0F0;
}

a:hover {
    color: #FFE8DF;
}

footer {
    text-align: center;
    font-size: 0.90rem;
    color: #F0F0F0;
    padding: 40px;
}